.animacion {
    animation-name: titulo;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

@keyframes titulo {
    0% {opacity: 0;
    }
    50% {opacity: 1;
        transform: skewX(30dex);
    }
    100% {}
}