/* a arreglar */
/* 
@media only screen and (min-width: 1024px) {
    .footerText {
        padding: 1vh 1vh;
    }


    .botones {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(235, 243, 213);
        margin: 5px;
        color: black;
        padding: 15px 15px;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
    }

    .introText {
        text-align: center;
        padding: 5%;
        border: 3%;
        background-color: whitesmoke;
    }

    .historiaText {
        text-align: center;
        padding: 5%;
        border: 3%;
        background-color: whitesmoke;
    }

    .cvButton {
        position: relative;
        left: 35%;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

/* celular */
@media only screen and (max-width: 480px) {
    #indexGrid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "video"
            "productos"
            "mapa"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 5% 5% 1fr auto 1fr 2%;
    }

    .flexMenu {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2%;
        margin: 2%;
        border-left: 1px solid #fff;
        border-right: 1px solid #333;
    }

    .menuTitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        background-color: khaki;
        text-align: center;
    }

    .searchButton input {
        height: 2%;
        width: 40vh;
    }

    .searchButton {
        padding: 5px;
        margin: 3%;
        align-self: center;
    }

    .bodyVideo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .bodyImg {
        margin: 1vh;
        width: 100%;
    }

    .map {
        width: 100%;
    }


    .botones {
        background-color: rgb(235, 243, 213);
        margin: 3%;
        padding: 3%;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        width: 100%;
    }

    .prod {
        grid-area: prod;
        padding: 3%;
        margin: 3%;
    }

    #productGrid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "cat"
            "prod"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 5% 5% auto auto 2%;
        grid-column-gap: 1%;
        grid-row-gap: 1%;

    }

    .cat {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: cat;
        padding: 2%;
        margin: 2%;
        width: 100%;
    }

    .prod {
        grid-area: prod;
    }

    #nosotrosGrid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "intro"
            "usVideo"
            "historia"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 5% 5% 1fr auto 1fr 2%;
        grid-column-gap: 1%;
        grid-row-gap: 1%;
    }

    .intro {
        grid-area: intro;
    }

    .usVideo {
        grid-area: video;
        display: flex;
        justify-content: center;
    }

    .historia {
        grid-area: historia;
    }

    .introText {
        text-align: center;
        padding: 5%;
        margin: 3%;
        background-color: whitesmoke;
    }

    .historiaText {
        text-align: center;
        padding: 5%;
        border: 3%;
        background-color: whitesmoke;
    }

    #contactoGrid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "conMap"
            "conForm"
            "conInfo"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 5% 5vh 1fr 1fr 1fr 5%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .conForm {
        grid-area: conForm;
    }

    .conMap {
        grid-area: conMap;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .conInfo {
        grid-area: conInfo;
        padding: 3%;
        margin: 3%;

    }

    .form {
        display: flex;
        flex-direction: column;
        padding: 3%;
    }

    #carritoGrid {
        display: grid;
        grid-template-areas:
            "header "
            "nav "
            "inventario"
            "checkout"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 5% 5vh 1fr 1fr 5%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .inventario {
        grid-area: inventario;

    }

    .checkout {
        grid-area: checkout;
        width: 35%;
        justify-self: center;
        padding: 3%;
        margin: 3%;
    }

    .bytalign {
        text-align: center;
    }

    .cvButton {
        position: relative;
        right: 3%;
    }


}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 1023px)  {
    #indexGrid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "video"
            "productos"
            "mapa"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 5% 5% 1fr auto 1fr 2%;
    }

    .flexMenu {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2%;
        margin: 2%;
        border-left: 1px solid #fff;
        border-right: 1px solid #333;
    }

    .menuTitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        background-color: khaki;
        text-align: center;
    }

    .searchButton input {
        height: 2%;
        width: 40vh;
    }

    .searchButton {
        padding: 5px;
        margin: 3%;
        align-self: center;
    }

    .bodyVideo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .bodyImg {
        margin: 1vh;
        width: 100%;
    }

    .map {
        width: 100%;
    }


    .botones {
        background-color: rgb(235, 243, 213);
        margin: 3%;
        padding: 3%;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        width: 100%;
    }

    .prod {
        grid-area: prod;
        padding: 3%;
        margin: 3%;
    }

    #productGrid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "cat"
            "prod"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 5% 5% auto auto 2%;
        grid-column-gap: 1%;
        grid-row-gap: 1%;

    }

    .cat {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: cat;
        padding: 2%;
        margin: 2%;
        width: 100%;
    }

    .prod {
        grid-area: prod;
    }

    #nosotrosGrid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "intro"
            "usVideo"
            "historia"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 5% 5% 1fr auto 1fr 2%;
        grid-column-gap: 1%;
        grid-row-gap: 1%;
    }

    .intro {
        grid-area: intro;
    }

    .usVideo {
        grid-area: video;
        display: flex;
        justify-content: center;
    }

    .historia {
        grid-area: historia;
    }

    .introText {
        text-align: center;
        padding: 5%;
        margin: 3%;
        background-color: whitesmoke;
    }

    .historiaText {
        text-align: center;
        padding: 5%;
        border: 3%;
        background-color: whitesmoke;
    }

    #contactoGrid {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "conMap"
            "conForm"
            "conInfo"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 5% 5vh 1fr 1fr 1fr 5%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .conForm {
        grid-area: conForm;
    }

    .conMap {
        grid-area: conMap;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .conInfo {
        grid-area: conInfo;
        padding: 3%;
        margin: 3%;

    }

    .form {
        display: flex;
        flex-direction: column;
        padding: 3%;
    }

    #carritoGrid {
        display: grid;
        grid-template-areas:
            "header "
            "nav "
            "inventario"
            "checkout"
            "footer"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 5% 5vh 1fr 1fr 5%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .inventario {
        grid-area: inventario;

    }

    .checkout {
        grid-area: checkout;
        width: 30%;
        justify-self: center;
        padding: 3%;
        margin: 3%;
    }

    .bytalign {
        text-align: center;
    }

    .cvButton {
        position: relative;
        right: 3%;
    }


} */